
.icon-wikipedia:before { content: '\e800'; } /* '' */
.icon-github-text:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e802'; } /* '' */
.icon-brush:before { content: '\e803'; } /* '' */
.icon-database:before { content: '\e804'; } /* '' */
.icon-code:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-volume:before { content: '\e807'; } /* '' */
.icon-brush-1:before { content: '\e808'; } /* '' */
.icon-article-alt:before { content: '\e809'; } /* '' */
.icon-vkontakte-rect:before { content: '\e80a'; } /* '' */
.icon-note-beamed:before { content: '\e80b'; } /* '' */
.icon-clock-1:before { content: '\e80c'; } /* '' */
.icon-cog-alt:before { content: '\e80d'; } /* '' */
.icon-grid:before { content: '\e80e'; } /* '' */
.icon-music:before { content: '\e80f'; } /* '' */
.icon-wordpress11:before { content: '\e810'; } /* '' */