@media screen {
  @keyframes pop-up-center {
    0% {
      border: 0px solid rgba(#000,0);
      transform: scale(0.5);
    }
    50% {
      border: 10px solid rgba(#000,.2);
      margin: -10px;
    }
    100% {
      transform: scale(1);
      border: 0px solid rgba(#000,0);
    }
  }

  @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in-bottom {
    0% {
      opacity: 0;
    }
    1% {
      opacity: 1;
      filter: blur(4px) opacity(0%) grayscale(100%);
      transform: translateY(50px);
    }
    100% {
      filter: blur(0) opacity(100%) grayscale(0%);
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}