article {
    line-height: 160%;
    color: #000;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    max-width: 75ch;
}

article p+p {
    margin-top: 1.5rem;
}

article h2+p {
    margin-top: 2rem;
}

article + article {
    padding-top: 4rem;
}

@media all and (max-width: 800px) {
    article h2+p {
        margin-top: 1rem;
    }
}