article {
    line-height: 160%;
    max-width: 75ch;
}

article p+p {
    margin-top: calc(#{$base} * 3);
}

article h2+p {
    margin-top: calc(#{$base} * 4);
}

article + article {
    padding-top: calc(#{$base} * 4);
}

@media all and (max-width: 800px) {
    article h2+p {
        margin-top: 1rem;
    }
}