.button {
  text-decoration: none;
  display: inline-block;
  padding: calc(#{$base} * 1.5) calc(#{$base} * 4);
  color: #fff;
  background-color: var(--color-scheme-e);
  border-radius: calc(#{$base} * 6);
  filter: drop-shadow(0 8px 16px rgba(0,0,0,.2));
  transition: 250ms background-color;
  user-select: none;
  text-shadow: none;
}

.button:hover,
.button:focus {
  background-color: var(--color-scheme-d);
}

.button:active {
  background-color: var(--color-scheme-f);
}

.button + .button {
  margin-left: calc(#{$base});
}

p + .button {
  margin-top: calc(#{$base} * 4);
}