.card {
    position: relative;
    background-color: var(--complementary-color);
    padding: calc(#{$base} * 4);
    border-left: calc(#{$base} * .5) solid #eee;
    border-radius: calc(#{$base} * .5);
    filter: drop-shadow(0 calc(#{$base} * 3) calc(#{$base} * 2) rgba(0,0,0,.2));

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #eee;
        content: "";
        opacity: .07;
        z-index: -1;
    }

    &:nth-child(4n) {
        border-color: var(--color-scheme-e);

        &:before {
            background-color: var(--color-scheme-e);
        }
    }

    &:nth-child(4n+1) {
        border-color: var(--color-scheme-f);

        &:before {
            background-color: var(--color-scheme-f);
        }
    }

    &:nth-child(4n+2) {
        border-color: var(--color-scheme-d);

        &:before {
            background-color: var(--color-scheme-d);
        }
    }

    &:nth-child(4n+3) {
        border-color: var(--color-scheme-g);

        &:before {
            background-color: var(--color-scheme-g);
        }
    }

    .card__title {
        margin-top: 0;
    }

    .card__table {
        margin-top: calc(#{$base} * 2);
    }
}

.card + .card {
    margin-top: calc(#{$base} * 4);
}
