.fab {
    display: block;
    background: var(--color-scheme-e);
    border-radius: 50%;
    position: static;
    width: calc(#{$base} * 6);
    height: calc(#{$base} * 6);
    position: fixed;
    bottom: calc(#{$base} * 3);
    right: calc(#{$base} * 3);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    animation: pop-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    z-index: 40;
    @media all and (max-width: 800px) {
        bottom: 6rem;
    }
}

.fab .icon {
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    filter: brightness(5000%);
    transition: all 300ms;
    cursor: pointer;
}

.fab a.open .icon {
    transform: translate3d(-50%, -50%, 0) rotate(-90deg);
}

.fab ul {
    display: none;
    position: absolute;
    bottom: 3rem;
    right: 0.2rem;
    background: var(--color-scheme-c);
    list-style: none;
    padding: 1rem;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.1);
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-radius: .2rem;
    font-size: .9rem;
}

.fab ul:after {
    content: '';
    position: absolute;
    bottom: -7px;
    right: .8rem;
    width: 15px;
    height: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.1);
    background: var(--color-scheme-c);
    transform: rotate(45deg);
}

.fab ul:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    background: var(--color-scheme-c);
    z-index: 2;
    border-radius: 0 0 .2rem .2rem;
}

.fab a.open + ul {
    display: flex;
    flex-direction: column;
    gap: #{$base};
}

.fab ul a {
    white-space: nowrap;
}
