header {
    padding: calc(#{$base} * 3) #{$base};
    background-color: var(--header-background-color);
    filter: drop-shadow(0 8px 16px rgba(0,0,0,.1));
    font-size: .9rem;
    animation: fade-in 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(8px) saturate(150%);

    @media all and (max-width: 800px) {
        top: auto;
        bottom: 0;
        padding: #{$base};
    }

    a {
        position: relative;
        text-decoration: none;
        cursor: pointer;
    }

    a:after {
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: all 250ms;
        content: "";
        height: 3px;
        display: block;
        background-color: var(--color-scheme-d);
        width: 0;
        cursor: pointer;
    }

    a.current:after {
        background-color: var(--color-scheme-e);
    }

    a:hover:after,
    a:focus:after,
    a.current:after {
        width: 80%;
    }
}

nav {
    width: 100vw;
    max-width: 75ch;
    margin: 0 auto;
    text-align: center;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li a {
        display: block;
        padding: .5rem 2vw;
        text-transform: uppercase;
    }

    @media all and (max-width: 800px) {

        ul {
            justify-content: space-around;
        }

        ul a span {
            display: block;
            font-size: .7em;
            cursor: pointer;
        }
    }
    
}