.hero {
  display: flex;
  flex-direction: row;
  gap: calc(#{$base} * 4);
  align-items: center;
  margin-bottom: calc(#{$base} * 4);

  .hero__image {
    width: calc(#{$base} * 16); 
  }

  .hero__heading {
    line-height: 1; 
  }
}